<div class="geo-preview-wrapper">
    <ul class="menu">
        <li>
            <button data-ng-click="preview.closePreview()">
                {{'Close preview'|translate}}
            </button>
        </li>
    </ul>
    <rzslider rz-slider-model="preview.slider.value" rz-slider-floor="preview.slider.floor" rz-slider-ceil="preview.slider.ceil"></rzslider>
    <leaflet 
        id="previewMap" 
        layers="preview.layers" 
        markers="preview.mapMarkers"
        controls="preview.controls"
        width="100%" 
        height="100%"
    ></leaflet>
</div>